<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Clients</title>
    <link th:href="@{css/clients.css}" rel="stylesheet">
    <script th:src="@{js/script.js}" type="text/javascript" defer></script>
</head>
<body>
    <h1>Client</h1>
    <table>
        <tbody>
        <tr>
            <th>ID</th>
            <th>name</th>
            <th>age</th>
        </tr>
        <tr th:each="client:${clients}">
            <td th:text="${client.getId()}"/>
            <td th:text="${client.getName()}"/>
            <td th:text="${client.getAge()}"/>
        </tr>
        </tbody>
    </table>
</body>
</html>
